<a href="https://colab.research.google.com/github/Chad-Cacal/CpE0332.1-1-Elective-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1: For Loop

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == week[len(week)-1]:
    print(x)
  else:
    print(x,end=",")

Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday

Example 2: Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3: Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Example 4: Looping through a String

In [ ]:
for x in "week":
  print(x)

Example 5/Application 3:  
Display only Thursday using break statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

Example 6: Range() Function

In [ ]:
for x in range(6): #Starts from 0 to 5 with default increment of 1
  print(x, end=" ")
print()
for x in range(2,6): #Starts from 2 to 5 with default increment of 1
  print(x, end=" ")
print()
for x in range(2,6,1): #Starts from 2 to 6 with increment of 1
  print(x, end=" ")
print()
for x in range(2,6,2): #Starts from 2 to 6 with increment of 2
  print(x, end=" ")

0 1 2 3 4 5
2 3 4 5
2 3 4 5
2 4

Example 7: Nested Loops

In [ ]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)
  print()

red apple
red banana
red cherry

big apple
big banana
big cherry

tasty apple
tasty banana
tasty cherry

Example 8: While Loop

In [ ]:
i = 1
while i<6:
  print(i)
  i+=1 #i=i+1 Assignment operator

1
2
3
4
5

Example 9: While Loop with Break Statement

In [ ]:
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i += 1

1
2
3

Example 10: Continue Statement

In [ ]:
i = 0
while i<6:
  i += 1
  if i==3:
    continue
  print(i)

1
2
4
5
6

Example 11: Else Statement

In [ ]:
i = 1
while i<6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

Application 4:
Create a Python program that displays: Hello 0 - Hello 10

In [ ]:
for x in range(11):
  print("Hello " + str(x))

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 5: Create a Python program that displays integers less than 10 but not less than 3

In [ ]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9