<a href="https://colab.research.google.com/github/Chad-Cacal/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [24]:
x = 3
y = 2
if x > y:
  print("Five is greater than two!")

Five is greater than two!

Python Comment

In [5]:
print("Hello World") #This is a python comment

Hello World

Python Variable

In [10]:
z = 1
z,s = 0,-1
z,s,t = 8,9,10
z
s
t

10

Casting

In [12]:
b = "Sally" #This is a string
b = float(4)
b

4.0

Type() function

In [14]:
print(type(b))

<class 'float'>

Double Quotes and Sing Quotes

In [15]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [16]:
a = int(4)
A = "Sally"
a
A

'Sally'

Multiple Variables

In [17]:
h, i, j = "one",'two',"three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variable with Single Value

In [18]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variables and Concatenation +

In [21]:
n = "enjoying"
p = "Python programming is"
print(p+n)

Python programming isenjoying

Arithmetic Operations

In [31]:
print(x+y)  #Addition
print(x-y)  #Subtraction
print(x*y)  #Multiplication
print(round(5/3,2))  #Division
print(x//y) #Floor Division
print(x%y)  #Modulus
print(x**y) #Exponentiation

5
1
6
1.67
1
1
9

Assignment Operator

In [32]:
x+=3 #same as x = x+3
print(x)

6

Comparison Operator

In [35]:
print(x==y) #x=3,y=2
print(x!=y)
print(x>y)
print(x<y)

False
True
True
False

Logical Operators

In [36]:
print(x==y and x!=y) #False and True
print(x==y or x!=y) #False or True
print(not(x==y or x!=y))#negate(False or True)

False
True
False

Identity Operators

In [38]:
x is y #x=3,y=2
x is not y

True

Bitwise Operators

In [42]:
#10 + 1 = 11 ; 1010 + 0001 = 1011
print(10 | 1)
print (x>>1) #x=3, 011

11
3

Application 1

In [50]:
#Create a Python program that displays your Fullname, Age, and Course and Section
Fullname,Age,Course_and_Section = "Chad R. Cacal", 21, "CPE 0332.1-1"
print("I'm " + Fullname + " of " + Course_and_Section + ". I'm " + str(Age) + " years old.")

I'm Chad R. Cacal of CPE 0332.1-1. I'm 21 years old.